/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-primary: 'Inter-Variable', sans-serif;
  --font-accent: 'PressStart2P', fantasy;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-size-base: 18px;
  --accent-color: #000;
  --white-color:#fff;
  --border-base: 2px solid #000;
  --contour-color: black;
  --animation-fill-color: #FF0000;
  --gradient-stripes-horizontal: repeating-linear-gradient(
    90deg,
    #d3d3d3,
    #d3d3d3 2px,
    transparent 2px,
    transparent 4px
  );
  --gradient-stripes-vertical: repeating-linear-gradient(
    0deg,
    #d3d3d3,
    #d3d3d3 2px,
    transparent 2px,
    transparent 4px
  );
  --gradient-color: linear-gradient(
    to bottom,
    #e7e7e7 0.01%,
    #1a1a1a 100%
  );

  --weight-content: clamp(375px, 50%, 700px);
}